@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;700&display=swap');

@import 'base/_variables.scss';
@import 'base/_mixins.scss';

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/_divider.scss';
@import 'blocks/_title.scss';
@import 'blocks/_sidepanel.scss';
@import 'blocks/_button.scss';
@import 'blocks/_promo.scss';
@import 'blocks/_about.scss';
@import 'blocks/_menu.scss';
@import 'blocks/_expirience.scss';
@import 'blocks/_skills.scss';
@import 'blocks/_portfolio.scss';
@import 'blocks/_price.scss';
@import 'blocks/_contacts.scss';
@import 'blocks/_policy.scss';
@import 'blocks/_media.scss';

