.about{
    min-height: 600px;
    padding-top: 100px;
    &__wrapper{
        display: grid;
        grid-template-columns: 1.24fr 2fr;
        gap: 50px;
    }
    &__photo{
        height: 600px;
        img {
            width:100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            border: 5px solid $blue;
        }
    }
    &__text{
        padding-top: 25px;
    }
    &__subtitle{
        position: relative;
        padding-left: 12px;
        @include before_circle;
    }
    &__title{
        padding-top: 5px;
    }
    &__divider{
        margin-top: 3px;
        margin-left: 0;
    }
    &__descr{
        margin: 20px 0 0 0;
        width: 570px;
        min-height:100px;
        flex-shrink: 0;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
    }
    &__skills{
        padding-top: 40px;
        display: grid;
        grid-template: 116px 116px / 260px 260px;
        grid-auto-rows: 116px;
        column-gap: 50px;
        row-gap: 20px;
        &-item{
            width: 60px;
            height: 40px;
            position: relative;
            @include before_circle;
            svg{
                position: absolute;
                right: 20px;
                bottom: -10px;
                max-width: 25px;
                max-height: 25px;
            }
        }

        &-text{
            width: 200px;
        }

        &-descr{
            padding-top: 6px;
        }

    }

    &__block{
        display: flex;
        flex-direction: row;
    }
}