.skills{
    padding-top: 120px;
    min-height: 1120px;
    @include section_header;
    &__wrapper{
        padding:60px 10px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-auto-columns: minmax(270px, auto);
        grid-template-rows: repeat(2, minmax(270px, auto));
        gap: 13px;
    }
    &__item{
        padding: 30px;
        border: 1px solid $black;
        &-icon{
            display: flex;
            height: 65px;
            align-items: center;
        }
        &-title{
            margin-top: 20px;
        }
        &-descr{
            margin-top: 15px;
            line-height: 21px;
        }
    }

    &__progress{
        margin-top: 120px;
        &__wrapper{
            display: grid;
            grid-template: repeat(2, minmax(60px, auto))/repeat(3, 350px);
            grid-auto-rows: 60px;
            row-gap: 30px;
            column-gap: 45px;
        }
        &__text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 36px;
            align-items: center;  
            &-title{
                position: relative;
                padding-left: 13px;
                @include before_circle;
            }      
            &-range{
                font-size: 14px;
                font-weight: 700;
            }
        }
        &__scale{
            margin-top: 20px;
            height: 14px;
            width: 100%;
            flex-shrink: 0;
            border-radius: 4px;
            background: $gray;
            span{
                display: block;
                height: 100%;
                flex-shrink: 0;
                border-radius: 4px;
                background: $blue;
            }
        }
    }
}