.skills{
    padding-top: 120px;
    min-height: 1120px;
    @include section_header;
    &__wrapper{
        padding:60px 10px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-auto-columns: minmax(270px, auto);
        grid-template-rows: repeat(2, minmax(270px, auto));
        gap: 13px;
    }
    &__item{
        padding: 30px;
        border: 1px solid $black;
        &-title{
            margin-top: 20px;
        }
        &-descr{
            margin-top: 15px;
            line-height: 21px;
        }
    }
}